<!doctype html>
<html>
  <head>
    <title>Have a Nice Day Weather</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://use.fontawesome.com/02863f79d4.js"></script>
    <script src="/axios/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/statc/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/statc/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/statc/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/statc/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/statc/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/statc/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/statc/apple-icon-180x180.png">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/statc/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/statc/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statc/favicon-16x16.png">
    <link rel="manifest" href="/statc/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/statc/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body onload='lookup()'>
    <!-- NAVIGATION -->
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Have A Nice Day</a>
      </div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class='dropdown'><a class="drop-down-toggle" data-toggle="dropdown" href="#">
            Weather<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href='/'>Current</a></li>
             <li><a href='/forecast'>Outlook Today</a></li>
             <li><a href='/sevenday'>Week Ahead</a></li>
           </ul>
          </li>
          <li><a href="/local">PI Station</a></li>
          <li><a href="/raspberry">Big Cities</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--MAIN-->
    <div class ="container-fluid bg-1 text-center">
      <h1 id="location"></h1>
      <h5>Current Conditions</h5>
      <h2><canvas id="icon" width='48' height='48'></canvas></h2>
      <h2 id="temp"></h2><p>Degrees Farenheit</p>
      <h2 id="summary"></h2><p>Is what it looks like!</p>
      <h2 id="feel"></h2>Is what it feels like.
      <h2 id="humid"></h2><p>Humidity Percentage</p>
      <h2 id="wind"></h2><p>Wind Speed in MPH</p>
      <h2 id="uv"></h2><p>uv Index</p>
      <form method="get" action='/forecast'>
        <button type="submit" class="btn btn-default btn-sm">Today's Outlook</button>
      </form><br>
       <form method="get" action='/sevenday'>
        <button type="submit" class="btn btn-default btn-sm">Forecast Ahead</button>
      </form><br>
      <form action="/" class="zipcode" onsubmit="return lookup()">
        <label>Change Zip Code</label><br>
        <input type="text" name="zip_code" id="zip_code" value="{{zip_code}}" size='10'>
        <button type="submit" class="btn btn-default btn-sm ">Submit</button>
      </form>
    </div>
    <!--FOOTER-->
    <div class="container-fluid footer bg-3">
      <div class="row">
        <div class="col-sm-3">  
          <ul>
            <li>
              <li>Contact</li>
              <a href="https://github.com/g-grilli/station"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https:/grilli.tech"><i class="fa fa-user" aria-hidden="true"></i></a>
              <a href="https://linkedin.com/in/genegrilli"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </i>
            <li><a href="https://darksky.net/poweredby/">DarkSky API</a></li>
            <li><a href="http://www.grilli.tech"> Grilli Tech</a></li>
          </ul>
        </div>
    </div>
    <script src='static/skycons.js'></script>
    <script>
      function  lookup () {
        var zip_code = document.getElementById('zip_code').value;
        var skycons = new Skycons();
        axios.get('/api', {params: {zip_code: zip_code}})
       .then(function (response) {
         console.log(response.data);
         var t = document.getElementById('temp');
         t.innerHTML = round(response.data.ds.currently.temperature, 1);
         var s = document.getElementById('summary');
         s.innerHTML = response.data.ds.currently.summary;
         var f = document.getElementById('feel');
         f.innerHTML = round(response.data.ds.currently.apparentTemperature, 1);
         var h = document.getElementById('humid');
         h.innerHTML = round(response.data.ds.currently.humidity *100, 1);
         var s = document.getElementById('wind');
         s.innerHTML = round(response.data.ds.currently.windSpeed, 1);
         var u = document.getElementById('uv');
         u.innerHTML = response.data.ds.currently.uvIndex;
         var l = document.getElementById('location');
         l.innerHTML = response.data.db.location_text;
         skycons.set("icon", response.data.ds.currently.icon);
         skycons.play();
         console.log(response.data.db);
       });
        return false;
      }
    </script>
    <script>
     function round(value, precision) {
      var multiplier = Math.pow(10, precision || 0);
      return Math.round(value * multiplier) / multiplier;
      }
    </script>
  </body>
</html>