<!doctype html>
<html>
 <head>
    <title>Have a Nice Day Weather</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/axios/axios.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body>
    <!-- NAVIGATION -->
   <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">HAVE A NICE DAY</a>
      </div>
      <div class="collapse navbar-collapse" id ="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Weather</a></li>
          <li><a href="/forecast">Outlook</a></li>
          <li><a href="/local">PI Station</a></li>
          <li><a href="/local">Big Cities</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class ="container-fluid bg-1 text-center">
      <h1>Major City Outlook</h1>
  </div>
  <div class='container text-center'>
   <div class='row'>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="30312">
      <button type="submit" class="btn btn-default btn-md btn-block">Atlanta</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="21202">
      <button type="submit" class="btn btn-default btn-md btn-block">Baltimore</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="02201">
      <button type="submit" class="btn btn-default btn-md btn-block">Boston</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="28202">
      <button type="submit" class="btn btn-default btn-md btn-block">Charlotte</button>
     </form><br>
    </div>
   </div>
   <div class='row'>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="60602">
      <button type="submit" class="btn btn-default btn-md btn-block">Chicago</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="75222">
      <button type="submit" class="btn btn-default btn-md btn-block">Dallas</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="21202">
       <button type="submit" class="btn btn-default btn-md btn-block">Denver</button>
      </form><br>
    </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="48202">
       <button type="submit" class="btn btn-default btn-md btn-block">Detroit</button>
      </form><br>
     </div>
   </div>
   <div class='row'>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="77002">
      <button type="submit" class="btn btn-default btn-md btn-block">Houston</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="90012">
      <button type="submit" class="btn btn-default btn-md btn-block">Los Angeles</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="33133">
      <button type="submit" class="btn btn-default btn-md btn-block">Miami</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="55415">
      <button type="submit" class="btn btn-default btn-md btn-block">Minneapolis</button>
     </form><br>
    </div>
   </div>
   <div class='row'>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="10010">
       <button type="submit" class="btn btn-default btn-md btn-block">New York</button>
      </form><br>
     </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="32802">
       <button type="submit" class="btn btn-default btn-md btn-block">Orlando</button>
      </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="19107">
      <button type="submit" class="btn btn-default btn-md btn-block">Philidelphia</button>
     </form><br>
    </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="85003">
       <button type="submit" class="btn btn-default btn-md btn-block">Phoenix</button>
      </form><br>
     </div>
    </div>
    <div class='row'>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="97204">
       <button type="submit" class="btn btn-default btn-md btn-block">Portland</button>
      </form><br>
     </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="78283">
       <button type="submit" class="btn btn-default btn-md btn-block">San Antonio</button>
      </form><br>
     </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="92101">
       <button type="submit" class="btn btn-default btn-md btn-block">San Diego</button>
      </form><br>
     </div>
     <div class='col-sm-3'>
      <form method="get" action='/city'>
        <input type="hidden" name="outlook" id="outlook" size='10' value="94102">
       <button type="submit" class="btn btn-default btn-md btn-block">San Francisco</button>
      </form><br>
     </div>
   </div>
   <div class='row'>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
       <input type="hidden" name="outlook" id="outlook" size='10' value="98104">
      <button type="submit" class="btn btn-default btn-md btn-block">Seattle</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
      <input type="hidden" name="outlook" id="outlook" size='10' value="63103">
      <button type="submit" class="btn btn-default btn-md btn-block">St Louis</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
      <input type="hidden" name="outlook" id="outlook" size='10' value="33602">
      <button type="submit" class="btn btn-default btn-md btn-block">Tampa</button>
     </form><br>
    </div>
    <div class='col-sm-3'>
     <form method="get" action='/city'>
      <input type="hidden" name="outlook" id="outlook" size='10' value="20500">
      <button type="submit" class="btn btn-default btn-md btn-block">Washington DC</button>
     </form><br>
    </div>
   </div>
  </div>
  <script>
      function  lookup () {
        var outlook = document.getElementById('outlook').value;
        var skycons = new Skycons();
        axios.get('/outlook', {params: {outlook: outlook}})
       .then(function (response) {
         console.log(response.data);
         var tL = document.getElementById('tempL');
         tL.innerHTML = round(response.data.ds.daily.data[0].temperatureMin, 1);
         var tH = document.getElementById('tempH');
         tH.innerHTML = round(response.data.ds.daily.data[0].temperatureMax, 1);
         var s = document.getElementById('summary');
         s.innerHTML = response.data.ds.daily.summary;
         var r = document.getElementById('chncRain');
         r.innerHTML = round(response.data.ds.daily.data[0].precipProbability * 100, 1);
         var h = document.getElementById('humid');
         h.innerHTML = round(response.data.ds.daily.data[0].humidity * 100, 1);
         var d = document.getElementById('dew');
         d.innerHTML = round(response.data.ds.daily.data[0].dewPoint, 1);
         var u = document.getElementById('sunUp');
         u.innerHTML = convertTime(response.data.ds.daily.data[0].sunriseTime);
         var sD = document.getElementById('sunDown');
         sD.innerHTML = convertTime(response.data.ds.daily.data[0].sunsetTime);
         var l = document.getElementById('location');
         l.innerHTML = response.data.db.location_text;
         skycons.set("icon", response.data.ds.daily.icon);
         skycons.play();
         console.log(response.data.ds);
       });
        return false;
      }
    </script>
 </body>
</html>
  
