/* NAVBAR */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px
}

.navbar-nav li a:hover {
  color: #1abc9c;
}

 /* GENERAL */
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

body { 
  font: 15px "Montserrat", sans-serif;
}

li {
  list-style: none;
}

.footer li a {
  color: black;
  font-size: 16px;
}

.footer li a i{
  color: black;
  font-size: 20px;
}
.footer li a:hover i{
  color: #00008b;
  font-size: 24px;
}

.footer li a:hover {
  color: #00008b;
  font-size: 18px;
  text-decoration: none;
}

img {
  margin: 10px;
  padding: 10px;
  width: 95%;
}
