/* NAVBAR */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid rgb(211,25,25) 3px;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c;
}

 /* GENERAL */
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  padding-top: 70px;
  font: 15px "Montserrat", sans-serif;
}

.bigCity {
  background-image: url(/static/usa-2324626_1920.jpg);
}

.bg-2 {
  display: inline;
  padding: 20px;
}

li {
  list-style: none;
}

.footer li a {
  color: black;
  font-size: 16px;
}

.footer li a i{
  color: black;
  font-size: 20px;
}
.footer li a:hover i{
  color: #00008b;
  font-size: 24px;
}

.footer li a:hover {
  color: #00008b;
  font-size: 18px;
  text-decoration: none;
}

img {
  margin: 10px;
  padding: 10px;
  width: 95%;
}

#time, #time1, #time2, #time3,#time4,#time5 {
  font-wieght: bold;
  font-size: 1.2em;
  border-top: thick double rgb(211,25,25);
  padding-top: 10px;
  margin-top: 10px;
}

@media (max-width: 760px) {
    .mobileOnly{
        display: block;
    }
    .deskTopOnly{
        display: none;
    }
}

